@charset "UTF-8";


/* -------------- 헤더 시작 ---------------- */
	header{
	    position: sticky;								
	    padding: 20px;
	    background-color: rgba(101, 119, 83, 0.808);	/* 배경색 */
	    display:flex;
	    justify-content: space-between;
	    align-items: center;
	    border-style: none;
	}
	ul{
	    list-style-type: none ;
	    display: flex;
	    padding-top: 10px;
	}
	.a{
	    text-decoration:none;
	}
	#mainLogo img{
	    image-rendering: auto;
	    width:300px;
	    padding :10px;
	    margin:20px;
	}
	#mainNav{
		display: flex;
	    justify-content:center;
	    align-items:end;
	}
	#mainNav ul li {
	    padding: 8px 20px;
	    font-weight:bold;
	    font-size: 30px;
	}
	#mainNav ul li a{
		color:#F9F9F9;
	}

	.nav_li{
	    font-size: 20px;
	    color: rgb(231, 159, 159);
	}
	.navbar {
	    display: flex;
	    
	}
	#mainSide{
		display: flex;
	    justify-content:flex-end; 
	    align-items:end;
	    padding: 30px 20px ;  
	}
	
	#mainSide .navbar{
	    display: flex;
	    justify-content: flex-end;
	    padding: 10px;
	    border: 10px;;
	}
	#my a{
		color:#F9F9F9;
	}
	#my i{
		color:#F9F9F9;
	}
	#navbarContent a{
		color:#E5EBB7;
	
	}
	
	
	
/* 컨텐츠  */
	div .mainImg{
		display:flex;
	    justify-content: center;

	}
	.mainImg img{
		display:flex;
	    justify-content: center;
		width:2000px;
	}


	
/* footer */
.footer_info{
	background-color: rgba(101, 119, 83, 0.808);
	text-align: right;
	position:relative;
	bottom:0;
	height:auto;
	padding: 30px;
	
}
.footer_link{
	display: inline-block;
	padding:10px;
} 
.footer_link ul{
	margin:0px;
}
.footer_link li {
	padding:0px 5px;
}

.footer_link li a{
	letter-spacing: 2px;	/* 글자간격 */
	text-decoration:none;
	color: #44433c ;
}
.footer_info_customer{
	color:#E5EBB7;
}
.footer_info_company {
	padding-top:10px;
	color:#E5EBB7;
}
.footer_info_company strong{
	color:#EEF2CE;
}



@media (max-width:920px){
	#mainNav ul{
		display: flex;
	    justify-content:center;
	    flex-direction: column;
	    align-items:center;
	}
	.col-md-12{
		display:flex;
	}
	#my a{
		display:none;
	}
	.mainImg img{
		display:flex;
	    justify-content: center;
		width:100%;
	}
	
	
	
}